<div>
<h5><a class="attractionName" href="#">{{name}}</a></h5>
<div class="hidden">
	<h5>({{attraction_type}})</h5>
	<p style="font-style: italic;">{{area_name}}</p>
	<button type="button" class="btn btn-sm" id="addBtn-{{id}}" href="#">Add to Itenerary</button><br><br>
	{{#if times}}
		{{#each times}}
		[{{this}}],
		{{/each}}
	{{/if}}
	<p>{{description}}</p></div>
</div>

