<div>
<h5><a class="attractionName" href="#">{{name}}</a></h5>
<div class="hidden">
<h5>({{attraction_type}})</h5>
<p style="font-style: italic;">{{area_name}}</p>
{{#if times}}
	{{#each times}}
	[{{this}}],
	{{/each}}
{{/if}}
<p>{{description}}</p></div>
</div>

