

	<section id="attr--{{incrementer @index}}">
	{{!-- <button type="button" id="btn--{{incrementer @position}}">{{name}}</button> --}}
	<h5>{{name}}</h5>
	<h5>({{attraction_type}})</h5>
	<div class="attraction-description"><p>{{description}}</p></div>
	</section>

