<div id="singleOutput">
<p><a class="attractionName" href="#">{{name}}</a> <span class="attrType">({{attraction_type}})</span></p>
<div class="hidden">
{{!-- <h5>({{attraction_type}})</h5> --}}
<p class="areaName">Where: {{area_name}}</p>
{{#if times}}When:
	{{#each times}}
	[{{this}}],
	{{/each}}
{{/if}}
<p>{{description}}</p></div>
</div>

